@import url(http://fonts.googleapis.com/css?family=Copse);

/* http://pltts.me/palettes/629637 */

body {
	margin: 0;
	line-height: 1.5;
	font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	color: #111;
}

html, body {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Copse", sans-serif;
	font-weight: normal;
}

a:link, a:visited {
	color: inherit;
}

a:hover {
	opacity: 0.6;
}

/* pages */

.page {
	width: 100%;
	display: table;
	box-sizing: border-box;
}

.full-height {
	min-height: 100%;
}

.vertically-centered-inner {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.text-column {
	max-width: 800px;
	margin: 20px auto 20px auto;
}

.red {
	background-color: #FE4365;
	color: white;
}

.green {
	background-color: #83AF9B;
	color: white;
}

@media screen and (min-width: 650px) {
	.title {
		font-size: x-large;
	}
}

/* graphs */

.graph > svg {
	width: 100%;
	max-height: 700px;
}

.graph .dot {
	fill: #FE4365;
	opacity: 0.5;
}

text.axis {
	dominant-baseline: middle;
	text-anchor: middle;
	font-weight: bold;
}

line.axis {
	stroke: #222;
}

.text-column h1 {
	text-align: center;
}

.scale-label {
	font-size: x-small;
	font-weight: bold;
}

.scale-label.x {
	dominant-baseline: text-before-edge;
}

.scale-label.y {
	dominant-baseline: text-after-edge;
}

/* stats tables */

.stats {
	margin: 1em auto;
	text-align: center;
	table-layout: fixed;
	font-weight: bold;
	font-size: small;
}

.stats td {
	max-width: 200px;
	vertical-align: middle;
}

.stats thead {
	color: #FE4365;
	text-transform: uppercase;
}

/* title */
#title h1, #title h5 {
	margin: 0;
}

// the button
.button {
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
}

.button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #ec528d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #ec6a9c;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}